﻿.cke_resizer_ltr {
    opacity: 0 !important;
}

.cke_focus .cke_resizer_ltr {
    opacity: 1 !important;
}

.cke_top {
    background-color: #fff;
}

.cke_bottom {
    background-color: #fff;
}

.cke_focus {
    border-color: rgba(0,0,0,.075);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, .6);
}
