﻿
.switcher {
    margin-bottom:15px;
}

.switcher__title {
    display:inline;
}

.switcher h4 {
      display:inline;
}


.switcher__input {
    display: none;
}

    .switcher__input:checked + .switcher__label {
        color: #222;
    }

        .switcher__input:checked + .switcher__label:before {
            background-color: #222;
        }

        .switcher__input:checked + .switcher__label:after {
            transform: translateX(23px);
        }

        .switcher__input:checked + .switcher__label:active:after {
            transform: translateX(12px);
        }

        .switcher__input:checked + .switcher__label:active:before {
            background-color: #222;
        }

.switcher__label {
    display: inline-block;
    vertical-align: top;
    padding-left: 50px;
    font-size: 14px;
    color: #ccc;
    cursor: pointer;
    position: relative;
    transition: color .1s linear;
}

    .switcher__label:before {
        content: "";
        display: block;
        width: 45px;
        height: 22px;
        background-color: #e5e5e5;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: background-color .1s linear;
    }

    .switcher__label:after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 1px;
        left: 1px;
        z-index: 2;
        transition: transform .1s linear;
    }

    .switcher__label:active:after {
        transform: translateX(12px);
    }

    .switcher__label:active:before {
        background-color: #b4effa;
    }

.switcher__text {
    /*line-height: 22px;*/
}
