﻿
body {
    /*background: #39383F;*/
    /*font-family: 'Montserrat Alternates', sans-serif;*/
}


.post-item {
    cursor: pointer;
}

    .post-item * {
        transition: .3s linear;
    }

.item-content {
    background: #fff;
    padding: 40px;
    height: 250px;
}

.item-body {
    font-size: 16px;
}

.item-footer {
    padding-top: 15px;
}

.link {
    display: inline-block;
    border: none;
    overflow: hidden;
    position: relative;
    color: #000;
    text-transform: uppercase;
}

    .link:before {
        content: "";
        position: absolute;
        color: #000;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        margin: auto;
        transform: scaleX(.2);
        transform-origin: left center;
        z-index: 0;
        transition: .6s cubic-bezier(.6, .01, 0, 1);
    }

    .link span {
        text-transform: capitalize;
        display: inline-block;
        font-size: 20px;
        position: relative;
        transform: translateX(-200%);
        transition: .6s cubic-bezier(.6, .01, 0, 1);
    }

.post-item:hover .link span {
    transform: translateX(0%);
}

.post-item:hover .link:before {
    transform-origin: right center;
}

@media (min-width: 768px) {
    .post-item {
        flex-basis: 50%;
        flex-shrink: 0;
    }
}

@media (min-width: 960px) {
    .post-item {
        flex-basis: 33.333333333%;
    }
}
