﻿.loading {
    height: 140px;
    position: fixed;
    width: 140px;
    top: 50px;
    right: 100px;
    /* css3 transform - scale */
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
}

    .loading > div {
        background-color: transparent;
        height: 25px;
        position: absolute;
        width: 25px;
        /* css3 radius */
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        /* css3 animation */
        -webkit-animation-name: loading;
        -webkit-animation-duration: 1.04s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: linear;
        -moz-animation-name: loading;
        -moz-animation-duration: 1.04s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-direction: linear;
        -o-animation-name: loading;
        -o-animation-duration: 1.04s;
        -o-animation-iteration-count: infinite;
        -o-animation-direction: linear;
    }

        .loading > div:nth-child(1) {
            left: 0;
            top: 57px;
            /* css3 animation */
            -webkit-animation-delay: 0.39s;
            -moz-animation-delay: 0.39s;
            -o-animation-delay: 0.39s;
        }

        .loading > div:nth-child(2) {
            left: 17px;
            top: 17px;
            /* css3 animation */
            -webkit-animation-delay: 0.52s;
            -moz-animation-delay: 0.52s;
            -o-animation-delay: 0.52s;
        }

        .loading > div:nth-child(3) {
            left: 57px;
            top: 0;
            /* css3 animation */
            -webkit-animation-delay: 0.65s;
            -moz-animation-delay: 0.65s;
            -o-animation-delay: 0.65s;
        }

        .loading > div:nth-child(4) {
            right: 17px;
            top: 17px;
            /* css3 animation */
            -webkit-animation-delay: 0.78s;
            -moz-animation-delay: 0.78s;
            -o-animation-delay: 0.78s;
        }

        .loading > div:nth-child(5) {
            right: 0;
            top: 57px;
            /* css3 animation */
            -webkit-animation-delay: 0.91s;
            -moz-animation-delay: 0.91s;
            -o-animation-delay: 0.91s;
        }

        .loading > div:nth-child(6) {
            right: 17px;
            bottom: 17px;
            /* css3 animation */
            -webkit-animation-delay: 1.04s;
            -moz-animation-delay: 1.04s;
            -o-animation-delay: 1.04s;
        }

        .loading > div:nth-child(7) {
            left: 57px;
            bottom: 0;
            /* css3 animation */
            -webkit-animation-delay: 1.17s;
            -moz-animation-delay: 1.17s;
            -o-animation-delay: 1.17s;
        }

        .loading > div:nth-child(8) {
            left: 17px;
            bottom: 17px;
            /* css3 animation */
            -webkit-animation-delay: 1.3s;
            -moz-animation-delay: 1.3s;
            -o-animation-delay: 1.3s;
        }

/* css3 keyframes - loading */
@-webkit-keyframes loading {
    0% {
        background-color: #222
    }

    100% {
        background-color: transparent;
    }
}

@-moz-keyframes loading {
    0% {
        background-color: #222
    }

    100% {
        background-color: transparent;
    }
}

@-o-keyframes loading {
    0% {
        background-color: #222
    }

    100% {
        background-color: transparent;
    }
}
